@font-face {
    font-family: "Mous";
    src: url("../fonts/Museosanscyrl500.ttf");
    font-weight: 500;
    
  }
  @font-face {
    font-family: "Mous";
    src: url("../fonts/MuseoSansCyrl-300.otf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Mous";
    src: url("../fonts/MuseoSansCyrl-900.otf");
    font-weight: bold;
  }
  html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html {
  overflow-x: hidden;
  margin-top: 0 !important; }
.header-wrapper{
    height: 90px;
    display: flex;
    
    justify-content: space-between;
    padding-left : 55px;
    padding-right: 70px;
}

a{
    text-decoration: none;
}
li{
    display: inline-block;
}
ul{
    margin: 0px;
}
.header-nav-li {
    height: 100%;
    
}
.header-nav-li li a{
    font-family: Mous;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #15143E;
    
    
}
.header-nav-li li{
    height: 100%;
    position: relative;
    margin-right: 18px;
    margin-left: 18px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
    }

    .z:hover{
        color: #F1773C;
    }
.z:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #F1773C;
    
    position: absolute;
    bottom: 0;
    left: 0;

}
.header-unternehmen{
    font-size: 18px;
    padding-right: 73px;
    font-family: Mous;
    font-weight: 300;
    color: #15143E;
}
.header-login{
    font-size: 16px;
    color: white;
    font-family: Mous;
    background-color: #F1773C;
    border-radius: 8px;
    text-align: center;
    
    width: 180px;
    
    height: 64px;
    line-height: 64px;
    font-weight: bold;
    display: block;
}
.header-login-wrapper{
    display: flex;
    flex-direction: row;
}
.header-login-li li{
   height: 100% ;
}
.block-1{
   
    background: linear-gradient(180deg, #725A86 0%, #4C49CD 100%);
    min-height: calc(100vh - 90px);
    position: relative;
    z-index: 1;
    
}
.block-1-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/image5.png');
    z-index: 2;
}
.block-1-text{
font-family: Mous;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 72px;
max-width: 742px;
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-top: 150px;
}
.block-1-a{
    background-color: #F1773C;
    box-shadow: 0px 35px 40px rgba(241, 119, 60, 0.15);
    border-radius: 8px;
    display:  block;
    margin-left: auto;
    margin-right: auto;
    font-family: Mous;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 120px;
text-align: center;
height: 120px;
color :white ;
margin-top: 59px;
max-width: 452px;
width: 100%;
position: relative;
z-index: 100;
}
.screenshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 30px 0px;
}
.block-2{
    background: #FFFFFF;
    box-shadow: 0px 50px 50px rgba(21, 20, 62, 0.06);
    border-radius: 8px;
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin: 109px auto;
}
.block-2-line{
    opacity: 0.2;
width: 1.5px;
background-color: #51507D;

}
.block-2-rendi{
    font-family: Museo Sans Cyrl;
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 54px;
/* identical to box height */
padding-bottom: 48px;

color: #15143E;
}
.block-2-wrapper{
    flex: 1;
    padding: 72px;
}
.block-2-calc-wrapper{
    
    padding: 20px;
    border: 1px solid rgba(81, 80, 125, 0.2);;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 445px;
    width: 100%;
   
    
}
.block-2-betrak{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 28px;
color: #15143E;

opacity: 0.5;
}
.block-2-ch{
    margin-top: 10px;
    display: flex;
    justify-content: start;
}
.block-2-ch-ch{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 40px;
/* identical to box height, or 80% */


color: #15143E;
}
.block-2-ch-input{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 40px;
/* identical to box height, or 80% */
width: 100%;

color: black;
border: none;
padding: 0px;
margin: 0px;;
}
.block-2-ch-input:focus{
    outline: none;
}
.block-2-ch-input::placeholder{
    color: black;
}
.block-2-2{
    padding: 20px 50px;
    flex: 1;
}
.block-2-2-rendire{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */


color: rgba(73, 142, 205, 0.5);;


}
.block-2-2-ch{
    display: flex;
    margin-top: 10px;
}
.block-2-2-1{
    width: 100%;
    background: rgba(73, 142, 205, 0.2);;
    padding: 20px;
    margin: 10px 0px;

box-sizing: border-box;
border-radius: 8px
}
.block-2-2-1-pad{
    padding-left: 10px;
}
.block-2-2-1-col{
    color: rgba(73, 142, 205, 0.75);
}
.block-3{
    background: #FFFFFF;

max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    position: relative;
    z-index: 2;
}
.block-3-h1{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 72px;
/* identical to box height */

text-align: center;
padding-bottom: 72px;;
color: #15143E;

}
.block-3-blocks{
    display: flex;
    
}
.block-3-block-head{
    display: flex;
    justify-content: center;
}
.block-3-block-head-text{
    font-family: Mouse;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 64px;
padding-left: 17px;

/* identical to box height */


color: #15143E;
}
.block-3-block-text{
    font-family: Mouse;
    padding-top: 21px;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

color: #15143E;

opacity: 0.8;
}
.block-3-block{
    max-width: 350px;
    width: 100%;
    padding: 0 25px;
}
.block-3-2{
    padding-top: 63px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 50px 80px rgba(21, 20, 62, 0.08);
    border-radius: 8px;

}
.block-3-2-block{
    display: flex;
    padding-top: 36px;;
}
.block-3-2-text{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 35px;
padding-left: 60px;
padding-right: 75px;
display: block;
/* or 140% */
margin: auto 0;

color: #15143E;

}
.block-4{
    background-image: url("../imgs/bg\ round.svg");
    
    background-size: cover;
    margin-top: -150px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;;
}
.block-4-mail{
    padding-top: 254px;
    max-width: 904px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block-4-first-h1{
    font-family: Museo Sans Cyrl;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 72px;

color: #15143E;
}
.block-4-first-text{
    font-family: Mouse;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    padding-top: 50px;
    /* or 140% */
    
    
    color: #15143E;
    
    opacity: 0.8;
}
.block-4-first{
    width: 43%;
    
}
.block-4-second{
    background: #FFFFFF;
border-radius: 8px;
width: 43%;
padding: 0px 30px;
padding-top: 54px;
padding-bottom: 64px;
border: 2px solid rgba(21, 20, 62, 0.1);;
}
.block-4-second input{
 width: 90%;
 padding: 20px 0px;
 background: #FAFAFA;
border-radius: 8px;
border: none;
margin: 5px 0px;
font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 28px;

/* identical to box height, or 165% */


color: #15143E;

padding-left: 30px;;
}
.block-4-second input::placeholder{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 28px;

/* identical to box height, or 165% */


color: #15143E;

opacity: 0.5;
}

input:focus{
    outline: none;
}
.block-4-absenden{
    max-width: 340px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: #F1773C;
box-shadow: 0px 35px 40px rgba(241, 119, 60, 0.15);
border-radius: 8px;
font-family: Mouse;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;
padding: 40px 0px;;

color: #FFFFFF;

}
.header-burger{
    display: none;
    padding-right: 30px;;
}
.header-burger span{
    
    font-size: 30px;;
    color: #15143E;
}
.header-burger-after{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99999;
    width: 300px;
    top: 90px;
    display: none;
   right: 0px;
   padding: 20px;
    background-color: white;
   
}
.header-burger-after-active{
    display: block;
}
.footer{
    background: linear-gradient(180deg, #7F6B91 0%, #4C49CD 100%);
    padding: 40px 0px;;
}
.footer-info-text{
    font-family: Mouse;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
padding-left: 30px;;
max-width: 300px;;
width: 100%;
color: #FFFFFF;

}
.footer-info{
    display: flex;
    justify-content: center;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.footer-info-block{
    display: flex;
   padding: 0px 30px;
}
.center img {
    display: block;
    margin: auto 0;
    height: 30px;;
}
.footer-copyright{
    font-family: Mouse;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
/* identical to box height */
padding-top: 10px;;
text-align: center;

color: #FFFFFF;
padding-bottom: 20px;
opacity: 0.8
}
.footer-j{
    margin-top: 30px;;
}
/* responsive */
@media (min-width: 992px) and (max-width: 1200px) {
    .footer-info-block{
        padding: 0px 10px;
    }
    .header-nav-li li a {
        font-family: Mous;
        
        font-weight: 500;
        font-size: 20px;
        
    }
    .header-unternehmen{
        padding-right: 20px;
    }
}
.logo{
    width: 100%;
    max-width: 220px;
}
.block-2-image{
    max-width: 555px;
    width: 100%;
}
 @media (max-width: 992px) {
    .footer-info-block{
        padding: 0px 5px;
    }
    .header-nav-li li a {
        font-family: Mous;
        
        font-weight: 500;
        font-size: 18px;
        
    }
    .header-unternehmen{
        padding-right: 10px;
    }
    .header-nav-li li {
       
        position: relative;
        margin-right: 5px;
        margin-left: 5px;
    }
    .logo{
        max-width: 200px;;
    }
    .header-wrapper{
        padding: 0px;;
        position: relative;
    }
    .block-3{
        background: #FFFFFF;
    
        max-width: 750px;
        width: 100%;
        
    }
    .block-3-2{
        
        max-width: 750px;
        
    
    }
    .block-2-image{
        max-width: 350px;
       
    }
    .block-3-2-text {
        font-family: Mouse;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
       
    }
    .footer-info-text {
        font-family: Mouse;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        padding-left: 5px;
    }
    .footer-j{
        margin-top: 0px;;
    }
    .block-4-mail {
        
        justify-content: center;
    }
    .block-4-first{
        padding-right: 20px;
    }
    
}

 @media (max-width: 767px) {
     
    .header-login-li{
        display: none;
    }
    .footer-info{
        flex-direction: column;
       
    }
    .footer-info-block {
        padding: 10px 5px;
    }
    .block-4-mail{
        flex-direction: column;
        max-width: 574px;
    }
    .block-4-first {
        width: 75%;
        margin: 0 auto;
        padding-bottom: 20px;;
        padding-right: 20px;
    }
    .block-4-first-h1{
        text-align: center;
        font-size: 48px;;
    }
    .block-4-first-text{
        text-align: center;
        padding-top: 5px;;
    }
    .block-4-second {
        background: #FFFFFF;
        border-radius: 8px;
        width: 60%;
        padding: 0px 30px;
        padding-top: 54px;
        padding-bottom: 64px;
        margin: 0 auto;
    }
    .block-3-blocks{
        flex-direction: column;
    }
    .block-3-block {
        max-width: 500px;
        width: 100%;
        padding: 0 25px;
    }
    .block-3-block {
       padding-top: 10px;;
       margin: 0 auto;
    }
    .block-3-2-block{
        flex-direction: column;
        padding-top: 0px;;
    }
    .block-2-image{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    .block-3-2-text{
        text-align: center;
        padding: 20px;;
    }
    .block-2 {
        background: #FFFFFF;
        box-shadow: 0px 50px 50px rgba(21, 20, 62, 0.06);
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        display: flex;
       flex-direction: column;
        margin: 109px auto;
        margin-top: 10px;;
    }
    .block-2-line{
        width: 100%;
        height: 4px;
        max-width: 500px;
        margin: 0 auto;
    }
    .block-2-wrapper{
        padding: 50px;
        padding-bottom: 20px;
    }
    .header-burger{
        display: block;
    }
    .footer-info-block{
        padding-left: 25px;
    }
}

 @media (max-width: 576px) {
    .block-1-text{
        font-size: 48px;
        line-height: 48px;;
        padding-top: 100px;
    }
    .block-1-a{
        max-width: 250px;
        font-size: 18px;;
    }
    .logo{
        max-width: 100px;
        height: 50px;;
        display: block;
        margin: auto 0;
    }
    .header-nav-li li a{
        font-size: 16px;
    }
    .header-burger{
        padding-right: 5px;
    }
    .block-3-block{
        padding: 0px 5px;
        max-width: 325px;
    }
    .block-4-second{
        width: 75%;
        
    }
    .block-4-absenden{
        max-width: 200px;
        padding: 20px 0px;
    }
    .block-3-h1{
        font-size: 40px;
        padding-bottom: 20px
    }
    .block-2{
        margin-bottom: 50px;
    }
    .footer-info-block{
        padding-left: 25px;
    }
}
/* responsive */